<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div layout:fragment="content">
    Produkty:
    <div>
        <th:block th:each="product :${products}">
            <tr>
                <td th:text="${product.id}">
                <td th:text="${product.name}">
            </tr>
        </th:block>
    </div>
</div>
</body>
</html>