<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
Zamówienia:
<div>
    <th:block th:each ="order :${orders}">
        <tr>
            <td th:text="${order.id}">
            <td th:text="${order.status}">
        </tr>
    </th:block>
</div>
</body>
</html>