<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-default main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Spring Boot Web Application</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Lang [BEGIN]-->
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/products}">Produkty</a></li>
                        <li><a th:href="@{/admin/products}">Admin</a></li>
                        <li><a th:href="@{/cart/products}">Shop Cart</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{lang.choice}">LANGUAGE</span><span class="caret"></span></a>
                            <ul class="dropdown-menu show-tick">
                                <li><a href="?lang=pl">[[#{lang.pl}]]<i th:if="__${#locale}__=='pl'" class="pull-right glyphicon glyphicon-ok"></i></a></li>
                                <li><a href="?lang=en">[[#{lang.en}]]<i th:if="__${#locale}__=='en'" class="pull-right glyphicon glyphicon-ok"></i></a></li>
                            </ul></li>
                    </ul>
                    <!-- Lang [END]-->
                    <!-- Menu [BEGIN] -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu" sec:authorize="isAnonymous()">
                                <li><a href="#" th:href="@{/}" th:inline="text">[[#{menu.mainPage}]]</a></li>
                                <li><a href="#" th:href="@{/register}" th:inline="text">[[#{menu.createAccount}]]</a></li>
                                <li><a href="#" th:href="@{/login}" th:inline="text">[[#{menu.loginPage}]]</a></li>
                            </ul>
                            <ul class="dropdown-menu" sec:authorize="isAuthenticated()">
                                <li><a href="#" th:href="@{/}">[[#{menu.mainPage}]]</a></li>
                                <li><a href="#" th:href="@{/profile}">[[#{menu.profile}]]</a></li>
                                <li><a href="#" th:href="@{/logout}">[[#{menu.logout}]]</a></li>
                            </ul></li>
                    </ul>
                    <!-- Menu [END] -->
                </div>
            </nav>
        </div>
    </body>
</html>