<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <meta charset="UTF-8">
    <title>Products in Shopping Cart</title>
</head>
<body>
<div layout:fragment="content">
    Produkty w koszyku:
    <div>
        <th:block th:each="product :${productsCart}">
            <tr>
                <td th:text="${product.name}">
                <td th:text="${product.price}">
                <td>
                    <button><a th:href="@{'/cart/' + ${product.id} + '/removeFromCart'}">REMOVE</a></button>
                </td>
            </tr>
        </th:block>
    </div>
</div>
</body>
</html>