<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        [[#{lang.pl}]]
        <p th:text="${userName}"></p>
    </div>
</div>
</body>
</html>